{% extends "layout.html" %}

{% block body %}
{% if message %}
	<div>
		{{ message }}
	</div>
{% endif %}
<div>
	Welcome {{ user.Name }}
</div>

<form action="{% url 'patient_dashboard' %}" method="post">
	{% csrf_token %}
	{% for patient in patients %}
	<input name="docpost" type="submit" value="{{ patient }}"/>
	{% endfor %}
</form>

<div class="absolute flex items-center justify-center" style="transform: translate(-100%, -100%); left:98%; top:5%;">
<a href="logout" class="text-xl text-blue-600 hover:underline text-decoration-line: underline">Logout</a>
</div>
{% endblock %}