{% extends "layout.html" %}

{% block body %}
<div class="flex flex-col h-screen">
	<div class="py-5 bg-gray-700 text-white text-center">
        <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="float-right w-36 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Menu <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
	<!-- Dropdown menu -->
		<div id="dropdown" class="hidden grid grid-rows-2 z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
    	<ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
			<form action="{% url 'redirect_add' %}" method="post">
	  		{% csrf_token %}
			<input type="submit" name="daily" value="Add Daily Data" class="bg-transparent z-10 w-36 block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"/>
			<input type="submit" name="weekly" value="Add Weekly Data" class="bg-transparent z-10 w-36 block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"/>
			<input type="hidden" name="patient" value="{{details}}"/>
			</form>
		<form action="{% url 'redirect_notify' %}" method="post">
	  	{% csrf_token %}
		<input type="submit" name="notify" value="Send Notification" class="bg-transparent w-36 block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"/>
			<input type="hidden" name="patient" value="{{details}}"/>
		</form>
		<a href="logout" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
    	</ul>
		</div>
	</div>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

	<main class="flex-1 overflow-y-auto p-5">
<div>
	Welcome {{ user.username }}
</div>
{% if message %}
	<div>
		{{ message }}
	</div>
{% endif %}
<!--{% if details %}-->
<!--	<div>-->
<!--		{{ details }}-->
<!--	</div>-->
<!--{% endif %}-->
{% if weekly %}
	<div>
		Last Recorded Weight: {{ weekly.Weight }}
	</div>
	<div>
		Last Recorded Height: {{ weekly.Height }}
	</div>
	<div>
		BMI: {{ weekly.BMI }}
	</div>
{% endif %}
{% if daily %}
	<div>
		Last Recorded Average Temp: {{ daily.LastAvgTemp }}
	</div>
	<div>
		Last Recorded Average Heart Rate: {{ daily.LastAvgHeartRate }}
	</div>
	<div>
		Last Recorded Blood Sugar: {{ daily.BloodSugar }}
	</div>
	<div>
		Last Recorded Blood Pressure: {{ daily.BloodPressure }}
	</div>
{% endif %}
{% if secondPulData %}
	<canvas id="myChartPul" height="290" style="width:100%;max-width:1500px;"></canvas>
{% endif %}
{% if secondTempData %}
	<canvas id="myChartTemp" height="290" style="width:100%;max-width:1500px;"></canvas>
{% endif %}
	<script>
		function buttonClick() {
			var x = document.getElementById("myChartPul");
			if (x.style.display === "none") {
    			x.style.display = "block";
    			window.showChart = 1;
  			} else {
    			x.style.display = "none";
    			window.showChart = 0;
  			}
  			var x = document.getElementById("myChartTemp");
			if (x.style.display === "none") {
    			x.style.display = "block";
    			window.showChart = 1;
  			} else {
    			x.style.display = "none";
    			window.showChart = 0;
  			}
		}

		var xValues = {{ timeData }};
		var yValues = {{ secondTempData }};
		if (xValues.length>0){
		window.showChart = 1;
		}
		var xLabel = [];

		new Chart("myChartTemp", {
  			type: "line",
  			data: {
    			labels: xValues,
    			datasets: [{
      			fill: false,
      			lineTension: 0,
      			backgroundColor: "rgba(0,0,255,1.0)",
      			borderColor: "rgba(0,0,255,0.1)",
      			data: yValues
    			}]
  			},
  			options: {
    			legend: {display: false},
    			scales: {
      			yAxes: [{ticks: {min: 35, max:37}}],
    			}
  			}
			});

		var yValues = {{ secondPulData }};

		new Chart("myChartPul", {
  			type: "line",
  			data: {
    			labels: xValues,
    			datasets: [{
      			fill: false,
      			lineTension: 0,
      			backgroundColor: "rgba(0,0,255,1.0)",
      			borderColor: "rgba(0,0,255,0.1)",
      			data: yValues
    			}]
  			},
  			options: {
    			legend: {display: false},
    			scales: {
      			yAxes: [{ticks: {min: 60, max:120}}],
    			}
  			}
			});
		function reload() {
			if (window.showChart == 1){
  				document.location.reload();
  			}
		}

		setTimeout(reload, 10000);
	</script>
		{% if timeData|length > 0 %}
<button onclick="buttonClick()">Show Chart</button>
		{% endif %}
	</main>
</div>
{% endblock %}