
.space{
height:250px;
}

h1, h4 {
text-align: center;
}

#message{
position:relative;
left:50%;
top:0%;
}

#postform{
position:absolute;
bottom: 5%;
right:20%;
}

#posts{
position:relative;
left:50%;
top:5%;
}

.postdisp{
font-size:20px;
}

.postusti{
font-size:10px;
font-size:10px;
}
